@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@stackbit/components/styles/default/style.css';

/* Examples of overriding CSS */
/*
@layer base {
    body {
        margin: 0;
        padding: 0;
    }
}

@layer components {
    .sb-badge {
        @apply uppercase;
    }
    .page-example {
        .component-content-section {
            .component-badge {
                padding: 10px 20px;
                text-transform: uppercase;
                border-radius: 3px;
            }
        }
    }
}
*/
